/**********************************************
******************** Global *******************
***********************************************/
body {}

html {
    font-family: 'Roboto', sans-serif;
}

:root {
    --redColor: #E30B1C;
    --orange: #FFCC00;
    --darkColor: #343a40;
    --backgroundGrayColor: #F7F8F7;
    --borderGrayColor: #E3E3E3;
    --lightColor: #fff
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.ulStyle {
    list-style: none;
}

.sticky___ {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 10px !important;
}

.LgSecondHeader.toggleShowHide {
    display: none;
}

.mainSliderAndSearchContainer .centerSliderContainer .sliderControl.toggleShowHide {
    display: none;
}

.autoplaystickAddSliderContainer .autoplaystickAddSliderControl.toggleShowHide,
.autoplayCommercialsAddSliderContainer .autoplayCommercialsAddSliderControl.toggleShowHide {
    display: none;
}

.havequestion.toggleShowHide {
    display: none;
}

.cookiesLg.toggleShowHide {
    display: none;
}

.commercial-taps-bar-control.toggleShowHide {
    display: none;
}

#search.toggleShowHide {
    display: none;
}

.forHide {
    display: none;
}

.downloadAppHeader.toggleShowHide {
    display: flex;
}

.titleSection .flexArrangement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5px;
    margin: 10px 0;
    border-bottom: 1px solid var(--borderGrayColor);
}

.titleSection .flexArrangement .title {
    font-size: 1rem;
    padding: 0 10px;
}

.titleSection .flexArrangement .title i {
    padding: 0 10px 0 0;
    color: #e30b1c;
}

.titleSection .flexArrangement .arrowMore a {
    font-size: 1.3rem;
    color: var(--redColor);
    display: flex;
    align-items: center;
}

.titleSectionMore {
    display: none;
}

.PreFooterSection {
    display: none;
}

#lgFooter {
    display: none;
}

.fa-heart-caller {
    color: #cccccc;
}

.fa-heart-caller.favIconRedToggle {
    color: #E30B1C;
}

/**********************************************
******************** Global *******************
***********************************************/


/**********************************************
*************** downloadAppHeader **************
***********************************************/
.downloadAppHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-image: url(../images/image/dark-gray-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.downloadAppHeader .close {
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ccc;
}

.downloadAppHeader .leftContent {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

.downloadAppHeader .leftContent .content small {
    display: block;
}

.downloadAppHeader .leftContent .content {
    display: block;
    margin-left: 10px;
}


.downloadAppHeader .leftContent img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.downloadAppHeader .rightContent {
    align-self: center;
}

.downloadAppHeader .rightContent .view {
    border: none;
    outline: 1px solid #FFF;
    background-color: teal;
    width: 50px;
    height: 30px;
    color: #fff;
    cursor: pointer;
}



/**********************************************
*************** downloadAppHeader **************
***********************************************/




/**********************************************
*************** HEADER SMAL VIEW **************
***********************************************/
.smViewHeader {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 0px 4px 1px #cccccc;

}

header .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    /* position: fixed; */
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    /* margin-top: 80px; */
}

header .top .logoSm img {
    width: 87px;
    height: 24px;
}

header .top .icon_smView {
    display: flex;
}



header .top .icon_smView .search_icon,
header .top .icon_smView .notifiction_icon,
.notificationHeader .titleAndToggle .notifiction_icon {
    position: relative;

}

.smViewHeader .top .icon_smView .notibtn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}


.smViewHeader .notificationDiv.displayToggle {
    display: none;
}

header .top .icon_smView .search_icon {
    margin: 0 10px;
}

header .top .icon_smView .notifiction_icon .not-count,
.notificationHeader .titleAndToggle .notifiction_icon .not-count {
    position: absolute;
    top: 5px;
    left: -5px;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    font-size: 12px;
    background: var(--darkColor) 0% 0% no-repeat padding-box;
    border: 1px solid #FAFAFA;
    font-style: italic;
}

.searchDiv.toggleShowHide {
    display: none;
}

.headerTaps {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    /* margin-top: 55px; */
}


.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 10px;
    transition: 0.3s;
    font-size: 1rem;
    color: #CECECE;
    font-weight: bold;
    border-bottom: 3px solid transparent;
}


.tab button.activeTapHomePage {
    border-bottom: 3px solid var(--redColor);
    color: var(--redColor);
    font-weight: bold;
}


.tabcontent {
    padding: 20px 0px;
}

.tabcontent,
.commercialtapContent {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/**********************************************
*************** HEADER SMAL VIEW **************
***********************************************/

/**********************************************
******************* HOME PAGE *****************
***********************************************/
#homePage {
    overflow: hidden;
    margin-bottom: 75px;
}

/*****=====>> MAIN SLIDER <<=====****/


.centerSliderSmView .item img {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    height: 200px;
    object-fit: cover;
}

.slick-dots li button:before {
    font-size: 13px;
    color: #999;
}

.slick-dots li.slick-active button:before {
    color: var(--redColor);
}

/*****=====>> CATEGORY HOME PAGE <<=====****/
.categoryHomePage {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: calc(100vh/70);
    text-align: center;
}

.categoryHomePage .cat .imgContainer {
    background-color: var(--backgroundGrayColor);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-radius: 10px;
}

.categoryHomePage .cat img {
    width: calc(100vw/11);
    transition: 0.4s all ease-in-out;
}

.categoryHomePage .cat .catName {
    display: block;
    font-size: 13px;
    color: var(--darkColor);
    padding: 10px 0 0 0;
    transition: 0.4s all ease-in-out;
}

.categoryHomePage .cat:hover .catName {
    color: var(--redColor);
    transform: scaleX(1.1);
}

.categoryHomePage .cat:hover img {
    transform: scale(1.1);
}

/*****=====>> STICKY ADS SLIDER <<=====****/
.stickyAdsSlider .autoplaystickAddSlider .stickyItem,
.CommercialsAdsSlider .autoplayCommercialsAddSlider .CommercialsItem {
    padding: 5px;
}

.stickyAdsSlider .autoplaystickAddSlider .stickyItem .stickyItemborder {
    border: 1px solid var(--orange);
}

.CommercialsAdsSlider .autoplayCommercialsAddSlider .CommercialsItem .CommercialsItemborder {
    border: 1px solid var(--redColor);
}

.stickyAdsSlider .autoplaystickAddSlider .stickyItem .stickyItemImg,
.CommercialsAdsSlider .autoplayCommercialsAddSlider .CommercialsItem .CommercialsItemImg {
    width: 100%;
    position: relative;
}

.commercialtapContent .commercialAdCard .cardItemGridContainer .cardAdItem .cardItemImg {
    position: relative;
}

.stickyAdsSlider .autoplaystickAddSlider .stickyItem .stickyItemImg .imgNum,
.CommercialsAdsSlider .autoplayCommercialsAddSlider .CommercialsItem .CommercialsItemImg .imgNum,
.commercialtapContent .commercialAdCard .cardItemGridContainer .cardAdItem .cardItemImg .imgNum {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    backdrop-filter: blur(2px);
    border-radius: 5px;
    width: 2.5rem;
    height: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stickyAdsSlider .autoplaystickAddSlider .stickyItem .stickyItemImg .imgboltstickybadge {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: var(--orange);
    font-size: 8px;
    padding: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.stickyAdsSlider .autoplaystickAddSlider .stickyItem .stickyItemImg .imgboltstickybadge .boltIconDiv {
    text-align: center;
}

.stickyAdsSlider .autoplaystickAddSlider .stickyItem .stickyItemImg img,
.CommercialsAdsSlider .autoplayCommercialsAddSlider .CommercialsItem .CommercialsItemImg img {
    width: 100%;
    object-fit: cover;
    padding: 3px;
}

.stickyAdsSlider .autoplaystickAddSlider .stickyItem .stickyItemContent,
.CommercialsAdsSlider .autoplayCommercialsAddSlider .CommercialsItem .CommercialsItemContent,
.commercialtapContent .commercialAdCard .cardItemGridContainer .cardAdItem .stickyItemContent {
    display: grid;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
        "Contenttime Contenttime Contenttime favIco"
        "ContentTitle ContentTitle ContentTitle ContentTitle"
        "ContentTitle ContentTitle ContentTitle ContentTitle"
        "ContentPrice ContentPrice ContentPrice ContentPrice"
    ;
    align-items: center;
}

.stickyItemContentaddfavIco,
.CommercialsItemContentaddfavIco {
    justify-self: center;
    grid-area: favIco;
    text-align: center;
    margin: 10px 5px 0 5px;
    cursor: pointer;
    outline: none;
    width: fit-content;
    border: none;
    background-color: transparent;
}

.stickyItemContenttime,
.CommercialsItemContenttime {
    grid-area: Contenttime;
    font-size: 12px;
    padding: 10px 10px 0 10px;
}

.stickyItemContentTitle,
.CommercialsItemContentTitle {
    grid-area: ContentTitle;
    font-size: 14px;
    padding: 10px 10px 0 10px;
}

.stickyItemContentPrice,
.cardItemContentPrice {
    font-weight: bold;
    color: var(--orange);
    grid-area: ContentPrice;
    font-size: 0.9rem;
    padding: 10px;
}

.stickyItemContentPrice small,
.cardItemContentPrice small {
    font-weight: 400;
    color: var(--darkColor);
}

.stickyIteContact ul,
.CommercialsIteContact ul {
    border-top: 1px solid var(--borderGrayColor);
    list-style: none;
    display: flex;
}

.stickyIteContact ul li,
.CommercialsIteContact ul li {
    border-right: 1px solid var(--borderGrayColor);
    width: 100%;
}

.stickyIteContact ul li.callLi {
    border-right: 0;
}

.stickyIteContact ul li a,
.CommercialsIteContact ul li a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    color: #333;
}

.stickyIteContact ul li a img,
.CommercialsIteContact ul li a img {
    display: inline-block;
    width: 30px;
    padding: 4px;
}

/*****=====>> SMALL VIEW FOOTER <<=====****/
#smallViewFooter {
    padding: 10px 0;
    height: auto;
    width: 100vw;
    background: #fff;
    z-index: 100000;
    position: fixed;
    bottom: -1px;
    filter: drop-shadow(0px -2px 10px rgba(0, 0, 0, 0.1019607843));
}

#smallViewFooter .smallViewFooterMenu {
    list-style: none;
    display: flex;
}

#smallViewFooter .smallViewFooterMenu li {
    flex: 1;
    text-align: center;
    padding: 10px 0 0 0;
}

#smallViewFooter .smallViewFooterMenu li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35px;
    color: var(--darkColor);
    text-transform: capitalize;
}

#smallViewFooter .smallViewFooterMenu li a.plusIconFooter .plusIconFooterBg {
    display: inline-block;
    background-color: var(--redColor);
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    transform: rotate(45deg) translateX(-50%);
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 48%;
}

#smallViewFooter .smallViewFooterMenu li a.plusIconFooter .plusIconFooterBg i {
    color: var(--lightColor);
    transform: rotate(-45deg);
}

#smallViewFooter .smallViewFooterMenu li a i {
    color: #9995;

}

#smallViewFooter .smallViewFooterMenu li a span {
    display: block;
    font-size: 12px;
}

#smallViewFooter .smallViewFooterMenu li a i.smallViewFooterMenuLiActive {
    color: var(--redColor);
}

#smallViewFooter .smallViewFooterMenu li a .smallFooterCommentIcon {
    display: inline-grid;
    justify-items: center;
}

#smallViewFooter .smallViewFooterMenu li a .smallFooterCommentIcon .chatIcon {
    position: relative;
    width: fit-content;
}

#smallViewFooter .smallViewFooterMenu li a .smallFooterCommentIcon .chatIcon .smallFooterCommentIconCountDiv {
    position: absolute;
    top: -11px;
    left: -8px;
    font-size: 9px;
    color: #fff;
    font-style: italic;
    background-color: var(--redColor);
    width: 18px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
}

/**********************************************
*************** COMMERCIAL PAGE ***************
***********************************************/
/*****=====>> COMMERCIAL PAGE <<=====****/
#commercial .comercial-taps {
    overflow: hidden;
}

#commercial .comercial-taps .commercial-taps-bar {
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#commercial .comercial-taps .commercial-taps-bar::-webkit-scrollbar {
    -webkit-appearance: none;
}

#commercial .comercial-taps .commercial-taps-bar>* {
    min-width: max-content;
    padding: 10px;
    background-color: var(--backgroundGrayColor);
    border-radius: 20px;
    margin: 10px 10px;
    border: 0;
}

#commercial .comercial-taps .commercial-taps-bar .comercial-taps.activeCommercialTapLinks {
    background-color: var(--redColor);
    color: var(--lightColor);
}


#commercial .comercial-taps .commercial-taps-bar a {
    color: var(--darkColor);
}


/*****************************************
******************************************
*****************************************/


.commercialtapContent .commercialAdCard .cardItemGridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0px 0 110px 0;
}

.commercialtapContent .commercialAdCard .cardItemGridContainer .cardAdItem,
.commercialtapContent .commercialAdCard .cardItemGridContainer .cardAdItem .cardItemImg {
    width: 100%;
}


.commercialtapContent .commercialAdCard .cardItemGridContainer .cardAdItem .cardAdItemborder {
    border: 1px solid var(--redColor);
}

.commercialtapContent .commercialAdCard .cardItemGridContainer .cardAdItem .cardItemImg img {
    width: 100%;
    object-fit: cover;
    padding: 3px;
}

.cardItemContentPrice {
    font-weight: bold;
    color: var(--redColor);
    grid-area: ContentPrice;
    font-size: 0.9rem;
    padding: 10px;
}

.cardItemContentPrice small {
    font-weight: 400;
    color: var(--darkColor);
}

/*******************************************************************/
/************************ NOTIFICATION PAGE ************************/
/*******************************************************************/
.notificationHeader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}

.notificationHeader .titleAndToggle {
    background-color: #413636;
    color: #fff;
}

.notificationHeader .icon,
.notificationHeader .titleAndToggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    padding: 20px;
}

.notificationHeader .icon {
    background-color: #e30b1c;
}

.notificationHeader .titleAndToggle h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 150px;
}

.notificationHeader .icon a {
    color: #fff;
    font-size: 1.3rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #E30B1C;
}

input:focus+.slider {
    box-shadow: 0 0 1px #E30B1C;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* The switch - the box around the slider */

.notificationImageBg {
    background-image: url(../images/image/Push\ notifications-bro.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 175px;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: -5;

}

.notificationContainer {
    position: relative;
    top: 180px;
    padding-bottom: 10px;
}

.notificationContainer .notificationItemContainer {
    padding: 10px;
    margin: 20px 0;
    background: rgb(227 11 28 / 74%);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(227, 11, 20, 0.1);
}


.notificationContainer .notificationItemContainer i {
    margin: 0 5px;
}

.notificationContainer .notificationItemContainer .notificationItemContent {
    position: relative;
}

.notificationContainer .notificationItemContainer .notificationItemContent .content {
    width: 80%;
    line-height: 1.5;
    margin-left: 65px;
}

.notificationContainer .notificationItemContainer .notificationItemContent .contentLinkAndDate {
    margin-left: 65px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.notificationContainer .notificationItemContainer .notificationItemContent .contentLinkAndDate a {
    width: fit-content;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: underline;
}


.notificationContainer .notificationItemContainer .notificationItemContent .contentLinkAndDate .date {
    justify-self: flex-end;
    padding: 0 5px;
    color: aliceblue;
}

.notificationContainer .notificationItemContainer .content p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.3px;
}


.notificationContainer .notificationItemContainer .notificationItemContent .icon {
    transform: rotate(45deg);
    background: #fff;
    border: 1px solid #413636;
    border-radius: 5px;
    position: absolute;
    left: 5px;
    top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.notificationContainer .notificationItemContainer .notificationItemContent .icon i {
    font-size: 20px;
    padding: 7px;
    color: #7c7171;
    transform: rotate(-45deg);
}

.chat {
    position: fixed;
    bottom: 80px;
    right: 25px;
}

.chat button {
    background-color: #E30B1C;
    padding: 10px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat img {
    width: 20px;
}